subject = "Your passwordless login"
layout = "default"
==
<h3>Passwordless Login</h3>

<p>You've requested a passwordless login at {{ base_url }}. Please proceed by clicking the this
<a href="{{ authentication_url }}">
    link
</a>
</p>

<p>Alternatively, copy the following URL in your browser: {{ authentication_url | raw}} </p>
</p>

<p>A few things to note:</p>
<ul>
	<li>The link above will be valid just once and for the next 15 minutes only.</li>
	<li>When you click on the link, you'll be logged in with your default browser.</li>
	<li>If you haven't requested the login yourself, just ignore this mail.</li>
</ul>
